@use '../_mixin' as m;
@use '../functions' as f;
@use '../variables' as v;

.behind-movie {
  padding: f.get_vw(36) f.get_vw(20);
  background-color: #F5C5CF;

  &.has-animation {
    .behind-movie__lead {
      @include m.animation_scrollFade_before;
    }

    .circle--video-1,
    .circle--video-2 {
      opacity: 0;
    }
    .circle--video-1 {
      transition-delay: 0.6s;
    }
    .circle--video-2 {
      transition-delay: 0.2s;
    }

    &.is-animated {
      .behind-movie__lead {
        @include m.animation_scrollFade_after;
      }
      .circle--video-1,
      .circle--video-2 {
        opacity: 1;
      }
    }
  }

  @include m.pc{
    padding: f.get_vw(47, v.$pcMaxWidth) f.get_vw(20, v.$pcMaxWidth);
  }
  &__lead {
    @include m.fz_vw_pc(14);
    text-align: center;
    margin-bottom: f.get_vw(20);
    @include m.pc{
      margin-bottom: f.get_vw(20, v.$pcMaxWidth);
    }
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: f.get_vw(26);
    @include m.pc{
      width: f.get_vw(400, v.$pcMaxWidth);
      margin: 0 auto f.get_vw(26, v.$pcMaxWidth);
    }

    &__ja {
      @include m.fz_vw_pc(14);
    }

    &__en {
      @include m.font_Shree;
      @include m.fz_vw(14);
      @include m.fz_vw_pc(16);
      letter-spacing: 0.2em;
    }
  }

  &__video-box {
    width: f.get_vw(225);
    height: f.get_vw(399);
    margin: auto;
    position: relative;
    > iframe {
      width: 100%;
      height: 100%;
    }
    @include m.pc{
      width: f.get_vw(225, v.$pcMaxWidth);
      height: f.get_vw(399, v.$pcMaxWidth);
    }
  }
}
