@use '../_mixin' as m;
@use '../functions' as f;
@use '../variables' as v;

.circle {
  border-radius: 50%;
  line-height: 1;
  font-size: 0;
  background-color: #fff;
  width: f.get_vw(20);
  aspect-ratio: 1/1;
  position: relative;
  @include m.pc{
    width: f.get_vw(20, v.$pcMaxWidth);
  }

  &--intro {
    position: absolute;
    width: f.get_vw(32);
    @include m.pc{
      width: f.get_vw(32, v.$pcMaxWidth);
    }
    &-1 {
      top: f.get_vw(-12);
      left: f.get_vw(16);
      @include m.pc{
        top: f.get_vw(-38, v.$pcMaxWidth);
        left: f.get_vw(-51, v.$pcMaxWidth);
      }
    }
    &-2 {
      top: f.get_vw(50);
      right: f.get_vw(-25);
      @include m.pc{
        top: f.get_vw(83, v.$pcMaxWidth);
        right: f.get_vw(-75, v.$pcMaxWidth);
      }
    }
  }

  &--style-list {
    z-index: 9;
    position: absolute;
  }

  &--style-modal-head {
    position: absolute;
    top: f.get_vw(-17);
    right: f.get_vw(-24);
    width: f.get_vw(20);
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    @include m.pc{
      top: f.get_vw(-17, v.$pcMaxWidth);
      right: f.get_vw(-24, v.$pcMaxWidth);
      width: f.get_vw(20, v.$pcMaxWidth);
    }
  }

  &--mv-gourp-1-1 {
    margin-left: f.get_vw(5);
    margin-bottom: f.get_vw(30);
    @include m.pc{
      margin-left: f.get_vw(5, v.$pcMaxWidth);
      margin-bottom: f.get_vw(30, v.$pcMaxWidth);
    }
  }
  &--mv-gourp-1-2 {
    margin-left: f.get_vw(0);
    @include m.pc{
      margin-left: f.get_vw(0, v.$pcMaxWidth);
    }
  }
  &--mv-gourp-1-3 {
    margin-top: f.get_vw(-3);
    margin-left: f.get_vw(2);
    @include m.pc{
      margin-top: f.get_vw(-3, v.$pcMaxWidth);
      margin-left: f.get_vw(2, v.$pcMaxWidth);
    }
  }
  &--mv-gourp-1-4 {
    position: absolute;
    bottom: f.get_vw(6);
    right: f.get_vw(-33);
    @include m.pc{
      bottom: f.get_vw(6, v.$pcMaxWidth);
      right: f.get_vw(-33, v.$pcMaxWidth);
    }
  }

  &--mv-gourp-2-1 {
    translate: f.get_vw(-30) 0;
    margin-bottom: f.get_vw(0);
    @include m.pc{
      translate: f.get_vw(-30, v.$pcMaxWidth) 0;
      margin-bottom: f.get_vw(0, v.$pcMaxWidth);
    }
  }
  &--mv-gourp-2-2 {
    z-index: 1;
    position: relative;
    margin-right: f.get_vw(3);
    @include m.pc{
      margin-right: f.get_vw(3, v.$pcMaxWidth);
    }
  }
  &--mv-gourp-2-3 {
    margin-top: f.get_vw(-5);
    margin-bottom: f.get_vw(10);
    translate: f.get_vw(-10) 0;
    @include m.pc{
      margin-top: f.get_vw(-5, v.$pcMaxWidth);
      margin-bottom: f.get_vw(10, v.$pcMaxWidth);
      translate: f.get_vw(-10, v.$pcMaxWidth) 0;
    }
  }
  &--mv-gourp-2-4 {
    translate: f.get_vw(-50) 0;
    @include m.pc{
      translate: f.get_vw(-50, v.$pcMaxWidth) 0;
    }
  }

  &--profile-modal {
    position: absolute;
    width: f.get_vw(20);
    aspect-ratio: 1/1;
    border-radius: 50%;
    @include m.pc{
      width: f.get_vw(20, v.$pcMaxWidth);
    }
    &--1 {
      top: f.get_vw(32);
      left: f.get_vw(-49);
      @include m.pc{
        top: f.get_vw(32, v.$pcMaxWidth);
        left: f.get_vw(-49, v.$pcMaxWidth);
      }
    }
    &--2 {
      top: f.get_vw(52);
      left: f.get_vw(-19);
      @include m.pc{
        top: f.get_vw(52, v.$pcMaxWidth);
        left: f.get_vw(-19, v.$pcMaxWidth);
      }
    }
    &--3 {
      top: f.get_vw(66);
      left: f.get_vw(-29);
      @include m.pc{
        top: f.get_vw(66, v.$pcMaxWidth);
        left: f.get_vw(-29, v.$pcMaxWidth);
      }
    }
    &--4 {
      top: f.get_vw(97);
      left: f.get_vw(-69);
      @include m.pc{
        top: f.get_vw(97, v.$pcMaxWidth);
        left: f.get_vw(-69, v.$pcMaxWidth);
      }
    }
  }

  &--video {
    z-index: 9;
    position: absolute;
    width: f.get_vw(32);
    @include m.pc{
      width: f.get_vw(32, v.$pcMaxWidth);
    }
    &-1 {
      bottom: f.get_vw(90);
      left: f.get_vw(-80);
      @include m.pc{
        bottom: f.get_vw(108, v.$pcMaxWidth);
        left: f.get_vw(-120, v.$pcMaxWidth);
      }
    }
    &-2 {
      bottom: f.get_vw(50);
      left: f.get_vw(-26);
      @include m.pc{
        bottom: f.get_vw(68, v.$pcMaxWidth);
        left: f.get_vw(-65, v.$pcMaxWidth);
      }
    }
  }

  &--blue {
    background-color: v.$blue;
  }
  &--yellow {
    background-color: v.$yellow;
  }
  &--orange {
    background-color: v.$orange;
  }
  &--green {
    background-color: v.$green;
  }
}