@use '../_mixin' as m;
@use '../functions' as f;
@use '../variables' as v;

.footer {
  padding: 0 f.get_vw(20) f.get_vw(40);
  @include m.pc{
    padding: 0 0 f.get_vw(40, v.$pcMaxWidth);
    width: f.get_vw(335, v.$pcMaxWidth);
    margin: auto;
  }

  &__credit-box {
    display: flex;
    justify-content: center;
    margin-top: f.get_vw(35);
    margin-bottom: f.get_vw(38);
    @include m.pc{
      margin-top: f.get_vw(35, v.$pcMaxWidth);
      margin-bottom: f.get_vw(38, v.$pcMaxWidth);
    }
  }
  &__credit {
    width: 100%;
    &__item {
      display: flex;
      align-items: baseline;
      padding-right: 4%;
      &:not(:last-child) {
        margin-bottom: f.get_vw(5.5);
        @include m.pc{
          margin-bottom: f.get_vw(5.5, v.$pcMaxWidth);
        }
      }

      > dt,
      > dd {
        width: 50%;
        @include m.font_Shree;
        @include m.fz_vw(11);
        @include m.fz_vw_pc(11);
        letter-spacing: 0.02em;
      }

      > dt {
        position: relative;
        display: flex;
        align-items: center;
        gap: 2em;
        padding-right: 2em;
        @include m.pc{
          gap: 1.0em;
          padding-right: 1.0em;
        }

        &::after {
          content: "";
          border-bottom: 1px dashed currentColor;
          flex: 1 1 auto;
          height: 0;
          transform: translateX(0em);
          @include m.pc{
            border-bottom-width: 0.5px;
          }
        }
      }
    }
  }

  &__logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    line-height: 1;
    margin-bottom: f.get_vw(22);
    @include m.pc{
      margin-bottom: f.get_vw(22, v.$pcMaxWidth);
    }
  }

  &__lepsim-logo {
    width: f.get_vw(91);
    margin-right: f.get_vw(38);
    @include m.pc{
      width: f.get_vw(91, v.$pcMaxWidth);
      margin-right: f.get_vw(38, v.$pcMaxWidth);
    }
    > svg path {
      fill: black;
    }
  }
  &__sns-box {
    display: flex;
    align-items: center;
    justify-content: center;
    > a {
      &:not(:last-child) {
        margin-right: f.get_vw(18);
        @include m.pc{
          margin-right: f.get_vw(18, v.$pcMaxWidth);
        }
      }
    }
  }
  &__x {
    width: f.get_vw(18.5);
    @include m.pc{
      width: f.get_vw(18.5, v.$pcMaxWidth);
    }
  }
  &__insta {
    width: f.get_vw(19.5);
    @include m.pc{
      width: f.get_vw(19.5, v.$pcMaxWidth);
    }
  }
  &__line {
    width: f.get_vw(23);
    @include m.pc{
      width: f.get_vw(23, v.$pcMaxWidth);
    }
  }
  &__tiktok {
    width: f.get_vw(19);
    @include m.pc{
      width: f.get_vw(19, v.$pcMaxWidth);
    }
  }

  &__copyright {
    @include m.font_Shree;
    text-align: center;
    @include m.fz_vw(10);
    @include m.fz_vw_pc(10);
    letter-spacing: 0.07em;
    line-height: 1;
  }
}