@use '../_mixin' as m;
@use '../functions' as f;
@use '../variables' as v;

.intro {
  padding: f.get_vw(25) f.get_vw(20);
  position: relative;

  @include m.pc{
    padding: f.get_vw(100, v.$pcMaxWidth) f.get_vw(20, v.$pcMaxWidth);
  }

  &__inner {
    @include m.pc{
      width: f.get_vw(383, v.$pcMaxWidth);
      margin: auto;
    }
  }

  &__header {
    position: relative;
    text-align: center;
    margin-bottom: f.get_vw(45);

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      right: 0;
      width: calc(100% - 5px);
      height: 100%;
      background-color: #B4BDD1;
      border: 1px solid #333;
    }

    &__inner {
      z-index: 9;
      position: relative;
      background-color: #fff;
      width: calc(100% - 5px);
      border: 1px solid #333;
      padding: f.get_vw(25) 10px;
      @include m.pc{
        padding: f.get_vw(25, v.$pcMaxWidth) 10px;
      }
    }

    &__ttl {
      @include m.fz_vw(12);
      @include m.fz_vw_pc(14);
      margin-bottom: f.get_vw(15);
      @include m.pc{
        margin-bottom: f.get_vw(15, v.$pcMaxWidth);
      }
    }
    &__shop {
      @include m.fz_vw(10);
      @include m.fz_vw_pc(12);
      margin-bottom: f.get_vw(25);
      @include m.pc{
        margin-bottom: f.get_vw(25, v.$pcMaxWidth);
      }
    }
    &__caution {
      @include m.fz_vw(10);
      @include m.fz_vw_pc(12);
      margin-bottom: f.get_vw(10);
      @include m.pc{
        margin-bottom: f.get_vw(10, v.$pcMaxWidth);
      }
    }
    &__caution-list-box {
      display: flex;
      justify-content: center;
    }
    &__caution-list {
      > li {
        @include m.fz_vw(10);
        @include m.fz_vw_pc(12);
        text-align: left;
      }
    }

  }

  &__lead {
    text-align: center;
    > p {
      @include m.fz_vw(12);
      @include m.fz_vw_pc(12);
      &:not(:last-child) {
        margin-bottom: f.get_vw(20);
        @include m.pc{
          margin-bottom: f.get_vw(20, v.$pcMaxWidth);
        }
      }
    }
  }

}
