@use '../_mixin' as m;
@use '../functions' as f;
@use '../variables' as v;

.intro {
  padding: f.get_vw(40) f.get_vw(20) f.get_vw(34);
  position: relative;
  overflow: hidden;

  @include m.pc{
    padding: f.get_vw(100, v.$pcMaxWidth) f.get_vw(20, v.$pcMaxWidth);
  }

  &__inner {
    @include m.pc{
      width: f.get_vw(383, v.$pcMaxWidth);
      margin: auto;
    }
  }

  &__header {
    position: relative;
    text-align: center;
    margin-bottom: f.get_vw(40);
    @include m.pc{
      margin-bottom: f.get_vw(40, v.$pcMaxWidth);
    }

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      right: 0;
      width: calc(100% - 5px);
      height: 100%;
      background-color: #B4BDD1;
      border: 1px solid #333;
    }

    &__inner {
      z-index: 9;
      position: relative;
      background-color: #fff;
      width: calc(100% - 5px);
      border: 1px solid #333;
      padding: f.get_vw(25) 10px;
      @include m.pc{
        padding: f.get_vw(25, v.$pcMaxWidth) 10px;
      }
    }

    &__ttl {
      @include m.fz_vw(12);
      @include m.fz_vw_pc(14);
      margin-bottom: f.get_vw(12);
      @include m.pc{
        margin-bottom: f.get_vw(12, v.$pcMaxWidth);
      }
    }
    &__shop {
      @include m.fz_vw(10);
      @include m.fz_vw_pc(12);
      margin-bottom: f.get_vw(20);
      @include m.pc{
        margin-bottom: f.get_vw(20, v.$pcMaxWidth);
      }
    }
    &__caution {
      @include m.fz_vw(10);
      @include m.fz_vw_pc(12);
      margin-bottom: f.get_vw(8);
      @include m.pc{
        margin-bottom: f.get_vw(8, v.$pcMaxWidth);
      }
    }
    &__caution-list-box {
      display: flex;
      justify-content: center;
    }
    &__caution-list {
      > li {
        @include m.fz_vw(10);
        @include m.fz_vw_pc(12);
        text-align: left;
      }
    }

  }

  &__lead {
    position: relative;
    &__ttl {
      @include m.fz_vw(16);
      @include m.fz_vw_pc(16);
      text-align: center;
      margin-bottom: f.get_vw(25);
      @include m.pc{
        margin-bottom: f.get_vw(25, v.$pcMaxWidth);
      }
      > span {
        @include m.font_Shree;
        background: linear-gradient(
    transparent calc(100% - 1.8em),
    #DADEE8 0
  ) no-repeat;
  background-position: 0 -0.25em;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        padding: 0 .3em;
        line-height: 1.5;
      }
    }

    > p {
      text-align: center;
      @include m.fz_vw(12);
      @include m.fz_vw_pc(12);
      letter-spacing: 0.03em;
      &:not(:last-child) {
        margin-bottom: f.get_vw(18);
        @include m.pc{
          margin-bottom: f.get_vw(18, v.$pcMaxWidth);
        }
      }
    }
  }

  &__gif {
    margin-top: f.get_vw(40);
    margin-bottom: f.get_vw(35);
    text-align: center;
    @include m.pc{
      margin-top: f.get_vw(40, v.$pcMaxWidth);
      margin-bottom: f.get_vw(35, v.$pcMaxWidth);
    }

    &__item {
      display: inline-block;
      width: f.get_vw(208);
      position: relative;
      @include m.pc{
        width: f.get_vw(208, v.$pcMaxWidth);
      }

      > img {
        animation: fade-slot-2 5s infinite both;
        &.intro__gif__2 {
          animation-delay: 2.5s;
        }
      }
    }

    &__2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}
