@use '../_mixin' as m;
@use '../functions' as f;
@use '../variables' as v;

.profile-button {
  position: relative;
  &__name {
    z-index: 9;
    position: absolute;
    @include m.font_Shree;
    @include m.fz_vw(12);
    @include m.fz_vw_pc(14);
    letter-spacing: 0.04em;
  }
  &__opener {
    z-index: 9;
    position: absolute;
    display: block;
    aspect-ratio: 1/1;
    border: 1px solid #333;
    border-radius: 50%;
    line-height: 1;
    font-size: 0;
    background-color: #fff;
    width: f.get_vw(32);

    animation: heartbeatSquash 4.6s ease-in-out infinite;

    @include m.pc{
      border-width: 0.5px;
      width: f.get_vw(32, v.$pcMaxWidth);
    }
    &__plus-icon {
      width: f.get_vw(10);
      @include m.pc{
        width: f.get_vw(10, v.$pcMaxWidth);
      }
    }
  }

  &--310 {
    z-index: 12;
    margin-left: f.get_vw(34);
    width: f.get_vw(115);
    @include m.pc{
      margin-left: f.get_vw(34, v.$pcMaxWidth);
      width: f.get_vw(115, v.$pcMaxWidth);
    }

    .profile-button__name {
      top: f.get_vw(33);
      left: f.get_vw(-13);
      rotate: -45deg;
      @include m.pc{
        rotate: -50deg;
        top: f.get_vw(32, v.$pcMaxWidth);
        left: f.get_vw(-19, v.$pcMaxWidth);
      }
    }

    .profile-button__opener {
      bottom: f.get_vw(-1);
      left: f.get_vw(-5);
      @include m.pc{
        bottom: f.get_vw(1, v.$pcMaxWidth);
        left: f.get_vw(-5, v.$pcMaxWidth);
      }
    }
  }

  &--MIWATARA {
    z-index: 13;
    margin-top: f.get_vw(32);
    margin-left: f.get_vw(24);
    width: f.get_vw(136);
    @include m.pc{
      margin-top: f.get_vw(75, v.$pcMaxWidth);
      margin-left: f.get_vw(24, v.$pcMaxWidth);
      width: f.get_vw(136, v.$pcMaxWidth);
    }

    .profile-button__name {
      top: f.get_vw(-3);
      right: f.get_vw(-4);
      rotate: 30deg;
      @include m.pc{
        top: f.get_vw(-9, v.$pcMaxWidth);
        right: f.get_vw(-15, v.$pcMaxWidth);
      }
    }

    .profile-button__opener {
      top: f.get_vw(33);
      right: f.get_vw(-14);
      @include m.pc{
        top: f.get_vw(31, v.$pcMaxWidth);
        right: f.get_vw(-14, v.$pcMaxWidth);
      }
    }
  }

  &--YUKIHA {
    z-index: 14;
    margin-top: f.get_vw(0);
    margin-left: f.get_vw(52);
    width: f.get_vw(134);
    @include m.pc{
      margin-top: f.get_vw(9, v.$pcMaxWidth);
      margin-left: f.get_vw(48, v.$pcMaxWidth);
      width: f.get_vw(134, v.$pcMaxWidth);
    }

    .profile-button__name {
      bottom: f.get_vw(-19);
      left: f.get_vw(22);
      rotate: -7deg;
      @include m.pc{
        bottom: f.get_vw(-22, v.$pcMaxWidth);
        left: f.get_vw(21, v.$pcMaxWidth);
      }
    }

    .profile-button__opener {
      bottom: f.get_vw(-10);
      right: f.get_vw(7);
      @include m.pc{
        bottom: f.get_vw(-9, v.$pcMaxWidth);
        right: f.get_vw(8, v.$pcMaxWidth);
      }
    }
  }

  &--KATSUKO {
    z-index: 15;
    margin-top: f.get_vw(20);
    margin-left: f.get_vw(28);
    width: f.get_vw(120);
    @include m.pc{
      margin-top: f.get_vw(63, v.$pcMaxWidth);
      margin-left: f.get_vw(27, v.$pcMaxWidth);
      width: f.get_vw(120, v.$pcMaxWidth);
    }

    .profile-button__name {
      bottom: f.get_vw(6);
      left: f.get_vw(-12);
      rotate: 41deg;
      @include m.pc{
        bottom: f.get_vw(4, v.$pcMaxWidth);
        left: f.get_vw(-18, v.$pcMaxWidth);
      }
    }

    .profile-button__opener {
      top: f.get_vw(33);
      right: f.get_vw(-18);
      @include m.pc{
        top: f.get_vw(33, v.$pcMaxWidth);
        right: f.get_vw(-17, v.$pcMaxWidth);
      }
    }
  }

}