@use '../_mixin' as m;
@use '../functions' as f;
@use '../variables' as v;

.style {
  padding: f.get_vw(40) 0 0;
  @include m.pc{
    padding: f.get_vw(103, v.$pcMaxWidth) 0 0;
  }
  &__inner {

  }

  &__heading {
    text-align: center;
    margin-bottom: f.get_vw(30);
    @include m.pc{
      margin-bottom: f.get_vw(30, v.$pcMaxWidth);
    }

    &__en {
      @include m.font_Shree;
      @include m.fz_vw(16);
      @include m.fz_vw_pc(18);
      letter-spacing: 0.2em;
      line-height: 1;
      margin-bottom: f.get_vw(15);
      @include m.pc{
        margin-bottom: f.get_vw(15, v.$pcMaxWidth);
      }
    }
    &__ja {
      @include m.fz_vw(20);
      @include m.fz_vw_pc(22);
      line-height: 1;
      letter-spacing: 0.1em;
    }
  }

  &__mv {
    font-size: 0;
    line-height: 1;
    
    position: relative;
    display: flex;
    align-items: center;
    height: f.get_vw(345);
    margin-bottom: f.get_vw(25);
    @include m.pc{
      height: f.get_vw(345, v.$pcMaxWidth);
      margin-bottom: f.get_vw(25, v.$pcMaxWidth);
    }

    @keyframes marquee-scroll-style{
      to { transform: translateX(-50%); } /* 自身幅の 50% = 画像1枚分だけ左へ */
    }
  
    &__marquee{
      z-index: 10;
      --dur: 30s; /* 1周の時間 */
  
      overflow: hidden;
      position: relative;
      line-height: 1;
      height: f.get_vw(225);
      @include m.pc{
        width: f.get_vw(800, v.$pcMaxWidth);
        height: f.get_vw(225, v.$pcMaxWidth);
        margin: auto;
      }
    }
  
    &__track{
      display: inline-flex;
      height: 100%;
      width: auto;
      will-change: transform;
      animation: marquee-scroll-style var(--dur) linear infinite;
    }
    &__item {
      line-height: 1;
      flex: 0 0 auto;

      > img {
        display: block;
        height: 100%;
        width: auto;
        object-fit: contain;
      }
    }

    &__bg {
      position: absolute;
      top: 0;
      left: 23px;
      width: calc(100% - 45px);
      height: auto;
      @include m.pc{
        width: f.get_vw(330, v.$pcMaxWidth);
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }

  &__concept {
    z-index: 9;
    text-align: center;
    position: relative;
    padding-bottom: f.get_vw(40);
    @include m.pc{
      padding-bottom: f.get_vw(40, v.$pcMaxWidth);
    }
    &__arrow {
      font-size: 0;
      line-height: 1;
      width: f.get_vw(257);
      position: absolute;
      top: 72%;
      left: -4%;
      right: 0;
      margin: auto;
      @include m.pc{
        top: 60%;
        left: 1%;
        width: f.get_vw(257, v.$pcMaxWidth);
      }
    }

    &__lead {
      @include m.fz_vw_pc(14);
    }
  }

  &__list-wrapper {
    background-color: #fff;
    padding: f.get_vw(50) f.get_vw(20) 0;
    @include m.pc{
      padding: f.get_vw(110, v.$pcMaxWidth) 0 f.get_vw(20, v.$pcMaxWidth) 0;
    }
  }
  &__list-inner {
    @include m.pc{
      width: f.get_vw(690, v.$pcMaxWidth);
      margin: auto;
    }
  }

}