@use '../_mixin' as m;
@use '../functions' as f;
@use '../variables' as v;

.video {
  width: 100%;
  position: relative;

  &__sound {
    white-space: nowrap;
    display: flex;
    align-items: center;
    line-height: 1;

    z-index: 9;
    position: absolute;
    top: 25%;
    left: 111%;
    
    width: 100%;
    
    rotate: 90deg;
    transform-origin: 0% 100%;
    translate: 0 0%;

    &__ttl {
      position: relative;
      margin-right: f.get_vw(50);
      @include m.fz_vw(12);
      @include m.fz_vw_pc(12);
      @include m.pc{
        margin-right: f.get_vw(50, v.$pcMaxWidth);
      }
      &::after {
        content: "";
        position: absolute;
        top: 36%;
        left: 160%;
        width: 20px;
        border: 1px dashed #333;
      }
    }
    &__btns {
      display: flex;
      > li {
        &:not(last-child) {
          margin-right: f.get_vw(3);
          @include m.pc{
            margin-right: f.get_vw(3, v.$pcMaxWidth);
          }
        }
      }

      button {
        border-radius: 50%;
        padding: f.get_vw(6) f.get_vw(10);
        border: 1px solid rgba(51, 51, 51, 0);
        transition: border-color 0.5s ease;
        @include m.fz_vw(10);
        @include m.fz_vw_pc(10);
        @include m.pc{
          padding: f.get_vw(6, v.$pcMaxWidth) f.get_vw(10, v.$pcMaxWidth);
        }
        &.is-active {
          border: 1px solid rgba(51, 51, 51, 1);
        }
      }
    }
  }

  &__item {
    width: 100%;
  }
}