<div class="all-link">
  <img src="<%- rootURL %>/assets/img/icon_handsign.png" alt="">
  <a href="/" target="_blank" rel="noopener noreferrer">すべてのアイテム</a>
  <img src="<%- rootURL %>/assets/img/icon_handsign.png" alt="">
</div>