<section class="behind-movie">
  <div class="behind-movie__heading">
    <p class="behind-movie__heading__en">BEHIND</p>
    <h2 class="behind-movie__heading__ja">企画ウラバナシ</h2>
    <p class="behind-movie__heading__en">MOVIE</p>
  </div>
  <div class="behind-movie__video-box">
    <%- include("./_circle.ejs", {
      className: "circle--video circle--video-1 circle--blue",
    }) %>
    <%- include("./_circle.ejs", {
      className: "circle--video circle--video-2 circle--orange",
    }) %>
    <%- include("./_video.ejs", {
      video: "lepsim24_1.mp4",
    }) %>
  </div>
</section>