<section class="behind-movie has-animation">
  <div class="behind-movie__heading">
    <p class="behind-movie__heading__en">BEHIND</p>
    <h2 class="behind-movie__heading__ja">企画ウラバナシ</h2>
    <p class="behind-movie__heading__en">MOVIE</p>
  </div>
  <p class="behind-movie__lead">今回のLEPSTA PROJECTについて<br>4人で語りました！</p>
  <div class="behind-movie__video-box">
    <%- include("./_circle.ejs", {
      className: "circle--video circle--video-1 circle--blue",
    }) %>
    <%- include("./_circle.ejs", {
      className: "circle--video circle--video-2 circle--orange",
    }) %>

    <div class="behind-movie__video-box">
      <iframe width="1747" height="702" src="https://www.youtube.com/embed/HUob-TChi40" title="LEPSTA PROJECT 2025 WINTER" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
  </div>
</section>