<div class="checkout-link">
  <img src="<%- rootURL %>/assets/img/icon_handsign.png" alt="">
  <a href="<%- link %>" target="_blank" rel="noopener noreferrer">DETAIL & BUY</a>
  <img src="<%- rootURL %>/assets/img/icon_handsign.png" alt="">
</div>