<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- meta -->
<title>LEPSIM 2025 LEPSTA PROJeCT</title>
<meta name="description" content="LEPSIMのスタースタッフが商品をプロデュースする、「レプスタプロジェクト」、略して「レププロ」！今回は、前回に続き大人気スタッフ4名がこの夏大活躍する『今すぐ着られて、長く使える』アイテムを、リアルなママ視点で企画しました。なんと今回は4人全員で企画したアイテムも！">

<!-- ogp -->
<meta property="og:title" content="LEPSIM 2025 LEPSTA PROJECT">
<meta property="og:type" content="website">
<meta property="og:description" content="LEPSIMのスタースタッフが商品をプロデュースする、「レプスタプロジェクト」、略して「レププロ」！今回は、前回に続き大人気スタッフ4名がこの夏大活躍する『今すぐ着られて、長く使える』アイテムを、リアルなママ視点で企画しました。なんと今回は4人全員で企画したアイテムも！">
<meta property="og:url" content="https://www.dot-st.com/lepsim/cp/leppro_2025winter">
<meta property="og:image" content="https://www.dot-st.com/static/docs/lepsim/pages/leppro_2025winter/assets/img/ogp.jpg">
<meta property="og:locale" content="ja_JP">
<meta property="og:site_name" content="LEPSIM 2025 LEPSTA PROJECT">
<meta name="twitter:card" content="summary_large_image">
<link rel="canonical" href="https://www.dot-st.com/lepsim/cp/leppro_2025winter">

<link rel="stylesheet" href="<%= rootURL %>/assets/css/style.css?ver=<%= Date.now() %>">

<!-- Adobe Fonts -->
 <script>
  (function(d) {
    var config = {
      kitId: 'txd8dyl',
      scriptTimeout: 5000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>