<section class="intro">

  <div class="intro__inner">

    <div class="intro__header">
      <div class="intro__header__inner">
        <h2 class="intro__header__ttl">7/15(火)12:00～ andST通常販売開始<br>7/17(木)OPEN～ スタッフ在籍店舗販売開始</h2>
        <p class="intro__header__shop">取り扱い店舗：新三郷店、モモテラス店、四條畷店、大分店</p>
    
        <p class="intro__header__caution">≪販売に関する注意事項≫</p>
        <div class="intro__header__caution-list-box">
          <ul class="intro__header__caution-list">
            <li>・店舗での事前予約/お取り置きは不可となります</li>
            <li>・整理券の配布はございません</li>
            <li>・店舗での発売前の事前整列は行なっておりません</li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="intro__lead">
      <p>LEPSIMのスタースタッフが商品をプロデュースする、<br>「レプスタプロジェクト」、略して「レププロ」！</p>
      <p>今回は、前回に続き大人気スタッフ4名が<br>この夏大活躍する『今すぐ着られて、長く使える』<br>アイテムを、リアルなママ視点で企画しました。</p>
      <p>なんと今回は4人全員で企画したアイテムも！</p>
    </div>
  </div>
</section>