<section class="intro">

  <div class="intro__inner">

    <div class="intro__header">
      <div class="intro__header__inner">
        <h2 class="intro__header__ttl">7/15(火)12:00～ andST通常販売開始<br>7/17(木)OPEN～ スタッフ在籍店舗販売開始</h2>
        <p class="intro__header__shop">取り扱い店舗：新三郷店、モモテラス店、四條畷店、大分店</p>
    
        <p class="intro__header__caution">≪販売に関する注意事項≫</p>
        <div class="intro__header__caution-list-box">
          <ul class="intro__header__caution-list">
            <li>・店舗での事前予約/お取り置きは不可となります</li>
            <li>・整理券の配布はございません</li>
            <li>・店舗での発売前の事前整列は行なっておりません</li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="intro__lead">
      <%- include("./_circle.ejs", {
        className: "circle--intro circle--intro-1 circle--yellow",
      }) %>
      <%- include("./_circle.ejs", {
        className: "circle--intro circle--intro-2 circle--green",
      }) %>
      <h3 class="intro__lead__ttl"><span>MORE & MORE !<br>LEPSTA PROJECT</span></h3>
      <p>LEPSIMのスタースタッフが商品をプロデュースする、<br>「レプスタプロジェクト」、略して「レププロ」！</p>
      <p>今回は、前回も大好評だった大人気スタッフ4名が、<br>この冬“本当に欲しい”アイテムを企画しました！</p>
      <p>アウターは、どんなテイストにも活躍する<br>“万能デザイン”を4名の共同開発。<br>ニットは、それぞれの個性が光る「四人四色」のアイテム。</p>
      <p>冬のおしゃれがもっと楽しくなるラインナップ、<br>要チェックです！</p>
    </div>
  </div>

  <div class="intro__gif">
    <img src="<%- rootURL %>/assets/img/intro_gif.png" alt="">
  </div>
</section>