<section id="kinit">
  <%- include("./_item.ejs", {
    className: "item--kinit",
    num: "02",
    ttl: "KNIT",
    ttlja: "アウター",
    sub: "「好き」が重なって、このカタチになりました。<br>冬のおしゃれは、もっと自由に！",
    slider: {
      type: "knit",
      count: 4,
    },

    commentList: [
      {
        comment: "私のおすすめポイントは○○です！私のおすすめポイントは○○です！",
        name: "310",
      },
      {
        comment: "私のおすすめポイントは○○です！私のおすすめポイントは○○です！",
        name: "KATSUKO",
      },
      {
        comment: "私のおすすめポイントは○○です！私のおすすめポイントは○○です！",
        name: "YUKIHA",
      },
      {
        comment: "私のおすすめポイントは○○です！私のおすすめポイントは○○です！",
        name: "MIWATARA",
      },
    ],
  }) %>
</section>