<section id="outer">
  <%- include("./_item.ejs", {
    className: "item--outer",
    num: "01",
    changeBtnText: "custom",
    ttl: "OUTER",
    ttlja: "アウター",
    sub: "みんなの欲しい機能をぜーんぶ詰め込みました&#9825;",
    slider: {
      type: "outer",
      count: 4,
    },

    link: "https://www.dot-st.com/heather/disp/item/592836/",

    commentList: [
      {
        comment: "好みや気分に合わせてカスタムできる着回し力抜群の1枚！魔法のアウターです♡",
        name: "310",
      },
      {
        comment: "裾が絞れて、コロンとしたシルエットになるのがお気に入り！ポケットの中はフリースであたたかい仕様なのも◎",
        name: "KATSUKO",
      },
      {
        comment: "どのシーズンもコレ1枚で過ごせる神アウター♡<br>洗濯もできるので子育てママにもオススメです！",
        name: "YUKIHA",
      },
      {
        comment: "裾が取り外しできて、短丈でも着用できるからコーディネートの幅が無限大！",
        name: "MIWATARA",
      },
    ],
  }) %>
</section>