<section id="kinit">
  <%- include("./_item.ejs", {
    className: "item--kinit",
    num: "02",
    changeBtnText: "item",
    ttl: "KNIT",
    ttlja: "アウター",
    sub: "「好き」が重なって、このカタチになりました。<br>冬のおしゃれは、もっと自由に！",
    slider: {
      type: "knit",
      count: 4,
    },

    link: "https://www.dot-st.com/lepsim/disp/itemlist/?dispNo=002100631&stock=0",

    commentList: [
      {
        comment: "私のおすすめポイントは○○です！私のおすすめポイントは○○です！",
        name: "310",
      },
      {
        comment: "私のおすすめポイントは○○です！私のおすすめポイントは○○です！",
        name: "KATSUKO",
      },
      {
        comment: "私のおすすめポイントは○○です！私のおすすめポイントは○○です！",
        name: "YUKIHA",
      },
      {
        comment: "私のおすすめポイントは○○です！私のおすすめポイントは○○です！",
        name: "MIWATARA",
      },
    ],
  }) %>
</section>