<section class="looks-movie">
  <div class="looks-movie__marquee">
    <div class="looks-movie__marquee__track">
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
    </div>
  </div>
  <div class="looks-movie__video-box">
    <iframe src="https://www.youtube.com/embed/46O7BIEaYsY" title="【司会 横澤夏子】LEPSIM ショッピング" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</section>