<section class="looks-movie">
  <div class="looks-movie__marquee">
    <div class="looks-movie__marquee__track">
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
      <p>ALL LOOKS</p>
    </div>
  </div>
  <div class="looks-movie__video-box">
    <%- include("./_video.ejs", {
      video: "lepsim24_1.mp4",
    }) %>
  </div>
</section>