<div class="marquee<% if(typeof className !== "undefiend" && typeof className === "string") {%> <%- className %><%}%>">
  <div class="marquee__track">
    <p>LEPSTA PROJECT MORE & MORE !</p>
    <p>LEPSTA PROJECT MORE & MORE !</p>
    <p>LEPSTA PROJECT MORE & MORE !</p>
    <p>LEPSTA PROJECT MORE & MORE !</p>
    <p>LEPSTA PROJECT MORE & MORE !</p>
  </div>
</div>