@use './_mixin' as m;
@use './variables' as v;

body {
  @include m.font_ZenKaku;
  @include m.fz_vw(v.$basicFontSize);
  @include m.fz_vw_pc(v.$basicFontSize);
  color: #232323;
  letter-spacing: 0.05em;
  line-height: 1.5;
  font-style: normal;
}

svg {
  width: 100%;
  height: auto;
}

button {
  @include m.pc{
    cursor: pointer;
  }
}
