@use './variables' as v;
@use './functions' as f;

// アニメーション
@keyframes animation_fade {
  0%{ opacity: 0; }
  15%{ opacity: 1; }
  60%{ opacity: 1; }
  75%{ opacity: 0; }
  100%{ opacity: 0; } // 8s
}
@keyframes animation_slide_fade-a {
  0%   { opacity: 1; }
  45%  { opacity: 1; }
  60%  { opacity: 0; }
  85%  { opacity: 0; }
  100% { opacity: 1; }
}

// pcサイズ
@mixin pc {
  @media screen and (min-width: 769px) {
    @content;
  }
}

// spサイズ
@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// font size
@mixin fz_vw($font_size) {
  font-size: $font_size * 1px;
  font-size: f.get_vw($font_size);
}
@mixin fz_vw_pc($font_size) {
  @include pc {
    font-size: $font_size * 1px;
    font-size: f.get_vw($font_size, v.$pcMaxWidth);
  }
}

// fonts
@mixin font_ZenKaku {
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 500; // 500-700
}

@font-face {
  font-family: ShreeDevanagari714;
  src: url(../fonts/shreedev0714-bold.ttf);
}
@mixin font_Shree {
  font-family: "ShreeDevanagari714", "Noto Sans Devanagari", system-ui, sans-serif;
  font-weight: 700;
}
@font-face {
  font-family: ShreeDevanagari714_normal;
  src: url(../fonts/shree-devanagari-714.ttf);
}
@mixin font_Shree_normal {
  font-family: "ShreeDevanagari714_normal", "Noto Sans Devanagari", system-ui, sans-serif;
  font-weight: 400;
}