@use './variables' as v;
@use './functions' as f;

// アニメーション
@keyframes heartbeatSquash{
  0%   { transform: scale(1); }
  12%  { transform: scale(1.2) scaleX(0.96); }
  20%  { transform: scale(1); }
  28%  { transform: scale(1.12) scaleX(0.98); }
  36%  { transform: scale(1); }
  100% { transform: scale(1); }
}
@mixin animation_scrollFade_before {
  opacity: 0;
  translate: 0 8px;
  transition: opacity 0.8s ease, translate 0.8s ease;
}
@mixin animation_scrollFade_after {
  opacity: 1;
  translate: 0 0px;
}

@keyframes animation_BounceComment {
  0%   { transform: scale(1); }
  28%  { transform: scale(1.05) scaleX(0.98); }
  50%  { transform: scale(1) scaleX(1); }
  100% { transform: scale(1); }
}
@mixin animation_scrollFadeComment_before {
  opacity: 0;
  transition: opacity 0.6s ease;
}
@mixin animation_scrollFadeComment_after {
  opacity: 1;
  animation: animation_BounceComment 0.8s ease-in-out 1 both;
}

@keyframes animation_fade {
  0%{ opacity: 0; }
  15%{ opacity: 1; }
  60%{ opacity: 1; }
  75%{ opacity: 0; }
  100%{ opacity: 0; } // 8s
}
@keyframes animation_slide_fade-a {
  0%   { opacity: 1; }
  45%  { opacity: 1; }
  60%  { opacity: 0; }
  85%  { opacity: 0; }
  100% { opacity: 1; }
}

// ２枚切り替え
@keyframes fade-slot-2 {
  0% { visibility: visible; }
  49.8% { visibility: visible; }
  50% { visibility: hidden; }
  100% { visibility: hidden; }
}
// 3枚切り替え
@keyframes fade-slot-3 {
  0% { visibility: visible; }
  33.32% { visibility: visible; }
  33.34% { visibility: hidden; }
  100% { visibility: hidden; }
}

// pcサイズ
@mixin pc {
  @media screen and (min-width: 769px) {
    @content;
  }
}

// spサイズ
@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// font size
@mixin fz_vw($font_size) {
  font-size: $font_size * 1px;
  font-size: f.get_vw($font_size);
}
@mixin fz_vw_pc($font_size) {
  @include pc {
    font-size: $font_size * 1px;
    font-size: f.get_vw($font_size, v.$pcMaxWidth);
  }
}

// fonts
@mixin font_ZenKaku {
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 500; // 500-700
}

@font-face {
  font-family: ShreeDevanagari714;
  src: url(../fonts/shreedev0714-bold.ttf);
}
@mixin font_Shree {
  font-family: "ShreeDevanagari714", "Noto Sans Devanagari", system-ui, sans-serif;
  font-weight: 400;
}
@font-face {
  font-family: ShreeDevanagari714_normal;
  src: url(../fonts/shree-devanagari-714.ttf);
}
@mixin font_Shree_normal {
  font-family: "ShreeDevanagari714_normal", "Noto Sans Devanagari", system-ui, sans-serif;
  font-weight: 400;
}